<section class="content">

	<div class="row">
		<div class="box box-widget">
			<div class="box-body">
			
				<%= render 'form'%>

				<% render "devise/shared/links" %>
			</div>
		</div>
	</div>
</section>