<div class="content">
	<div class="row">
		<div class="box box-widget">
			<div class="box-body">
				
				<h3>Hello <%= @resource.email %>!</h3>
				<p>Estamos contatando você para notificá-lo de que sua senha foi alterada .</p>
			</div>
		</div>
	</div>
</div>
