<div class="content">
	<div class="row">
		<div class="box box-widget">
			<div class="box-body">

				<p>Olá <%= @resource.email %>!</p>
				<p>Hello <%= @resource.email %>!</p>

				<p>Alguém pediu um link para alterar sua senha. Você pode fazer isso através do link abaixo.</p>

				<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

				<p>Se você não solicitou a mudança de email, por favor ignore este e-mail.</p>
			</div>
		</div>
	</div>
</div>